.pacman {
    height: 100px;
    position: relative;
    background: #745365
}

.pacman__figure {
    position: absolute;
    top: 10px;
    left: 0;
    background-color: yellow;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: move 5s linear infinite alternate, mirror 10s step-end infinite;
}

.pacman__figure::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 30px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    animation: eyemove .25s linear infinite alternate;
}

.pacman__figure::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    border-style: solid;
    border-color: transparent;
    border-width: 30px;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 40px;
    transform: translateY(-50%);
    animation: eat .25s linear infinite alternate;
}

@keyframes move {
    from {
        left: 0;
    }
  
    to {
        left: calc(100% - 80px);
    }
}

@keyframes mirror {
    from {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(-1, 1);
    }

    to {
        transform: scale(-1, 1);
    }
}

@keyframes eat {
    from {
        border-width: 30px;
        border-right-width: 40px;
    }
  
    to {
        border-width: 0;
        border-right-width: 40px;
    }
}

@keyframes eyemove {
    from {
        top: 5px;
        right: 30px;
    }
  
    to {
        top: 15px;
        right: 20px;
    }
}

@media (max-width: 767.98px) {
    .pacman__figure {
        animation-duration: 2s, 4s;
    }
}